:root {
  --clr-purple-400: hsl(263, 55%, 52%);
  --clr--gray-400: hsl(217, 19%, 35%);
  --clr--gray-800: hsl(219, 29%, 14%);
  --clr--white: hsl(0, 0%, 100%);

  --clr-neutral-400: hsl(0, 0%, 81%);
  --clr-neutral-200: hsl(210, 46%, 95%);

  --fs--regular: 0.8125rem;

  --fw-regular: 500;
  --fw-bold: 600;

  --ff-regular: "Barlow Semi Condensed", sans-serif;
}

/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utilities */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flex-group-col {
  display: flex;
  flex-direction: column;
}

/* Custom CSS */

body {
  background: var(--clr-neutral-200);
  font-family: var(--ff-regular);
  font-size: var(--fs--regular);
  font-weight: var(--fw-regular);
  padding: 2.625rem 1.375rem;
}

.card {
  position: relative;
  color: var(--clr-neutral-400);
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}

.card__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.card__header img {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--clr--white);
  border-radius: 50%;
}

.card__header-name {
  line-height: 1;
}

.card__header-status {
  font-size: 0.75rem;
  filter: opacity(50%);
}

.card__testimonial {
  position: relative;
  z-index: 1;
  color: var(--clr--white);
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.card__bio {
  filter: opacity(70%);
  line-height: 1.4;
}

.card.purple {
  background: var(--clr-purple-400);
}

.card.purple::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 1.5rem;
  z-index: 0;
  width: 104px;
  height: 102px;
  background: url(images/bg-pattern-quotation.svg);
}

.card.grey {
  background: var(--clr--gray-400);
}

.card.white {
  background: var(--clr--white);
  color: var(--clr-gray-800);
}

.card.white .card__testimonial {
  color: var(--clr-gray-800);
}

.card.black {
  background: var(--clr--gray-800);
}
